In [1]:
type({})

dict

In [2]:
type({1})

set

In [3]:
#sets does  not have repeated elements
print(set([1,2,3,4,5,6,5]))

{1, 2, 3, 4, 5, 6}

In [5]:
set_var={"rita","gita","sita"}
print(set_var)
print(type(set_var))

{'rita', 'gita', 'sita'}
<class 'set'>

In [7]:
# we cannot print numbers by using index
set_var[1]

TypeError: 'set' object is not subscriptable

In [8]:
for i in set_var:
    print(i)

rita
gita
sita

In [9]:
# elemnts added in set are in sorting order 
set_var.add("Harman")
set_var

{'Harman', 'gita', 'rita', 'sita'}

In [10]:
set1={"apple","mango","papaya"}
set2={"apple", "mango","kiwi","banana"}
set2.intersection_update(set1)

In [11]:
set2

{'apple', 'mango'}

In [13]:
set1.issuperset(set2)

True

In [ ]:
#Dictionary

In [14]:
type({1:"khushi"})

dict

In [15]:
dict(name="khushi", age=20)

{'name': 'khushi', 'age': 20}

In [16]:
my_car={"car1":"Audi","car2":"BMW","car3":"ferrai"}

In [17]:
#elemts cannot be accessed by indexing
my_car[0]

KeyError: 0

In [18]:
my_car['car1']

'Audi'

In [19]:
for i in my_car:
    print(i)

car1
car2
car3

In [22]:
for i in my_car.items():
    print(i)

('car1', 'Audi')
('car2', 'BMW')
('car3', 'ferrai')

In [23]:
my_car['car4']="Ambassdor"
my_car

{'car1': 'Audi', 'car2': 'BMW', 'car3': 'ferrai', 'car4': 'Ambassdor'}

SyntaxError: invalid syntax (1185178868.py, line 6)

In [ ]:
#tuples

In [29]:
my_tuple=tuple()

In [30]:
type(my_tuple)

tuple

In [31]:
my_tuple=("Khushi","ankur","Rahul")
print(my_tuple)

('Khushi', 'ankur', 'Rahul')

In [35]:
my_tuple.count("Khushi")

1